<div class="container">
  <div class="row justify-content-center">
      <div class="col-5 reset-password">
        <span style="width:100%;text-align:center;"><h1>Reset Password</h1></span>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
            <input type="text" id="email" placeholder="Email" formControlName="email">
            <input type="password" id="old_password" placeholder="Old Password" formControlName="old_password">
            <input type="password" id="new_password" placeholder="New Password" formControlName="new_password">
            <button type="submit">Reset</button>
        </form>
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>
        <div *ngIf="passwordReset" class="success">
          {{ passwordReset }}<br>
          <a [routerLink]="['/login']">Login</a>
        </div>
      </div>
  </div>
</div>

