<div class="container">
  <div class="row justify-content-center">
      <div class="col-6 reset-password">
        <span style="width:100%;text-align:center;"><h1>Reset Password</h1></span>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
          <div class="col-12">
            Enter your email and we'll email you a link to reset it.
          </div>
            <input type="text" id="email" placeholder="Email" formControlName="email">
            <a [routerLink]="['/login']">Login</a>
            <button type="submit">Submit</button>
        </form>
        <div *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </div>
        <div *ngIf="passwordReset" class="success">
          {{ passwordReset }}<br>
        </div>
      </div>
  </div>
</div>

