<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 m-5">
            <nav aria-label="breadcrumb" style="margin-top:-25px;margin-left:-15px;">
                <ol class="breadcrumb" style="background-color: white;">
                  <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Account Activity</li>
                </ol>
              </nav>
            <h1>Account Activity</h1>
            <div class="col-md-12 order-1 order-md-1" *ngIf="transactions.length == 0 && !noTransactions" style="text-align: center;margin-top:100px;">
              <img src="assets/loading.gif">
            </div>
            <div *ngIf="noTransactions">
              No recent activity.
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 m-1 activity" style="width:100%;" *ngIf="transactions.length > 0 && !noTransactions">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let transaction"> {{ transaction.date }} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let transaction"> {{ transaction.category }} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let transaction"> {{ transaction.amount | currency }} </td>
                </ng-container>
                <ng-container matColumnDef="deleteAction">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let transaction"> <a [routerLink]="" (click)="deleteTransaction(transaction)">Delete</a></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[25, 50, 100]"style="margin-top:25px;"></mat-paginator>
        </div>
    </div>
</div>
