td, tr, .mat-header-row, .mat-header-row {
    text-align: left;
    border: none;
}

.mat-cell {
    border-bottom:1px solid #ccc;
}

table {
    border-spacing: 0px;
}

:host ::ng-deep.mat-paginator .mat-paginator-container button, button:hover {
  border:none;
  background-color: white;
  box-shadow: none;
}
