.balanceInfo {
    margin-top: 25px;
    padding: 2em;

    text-align: center;
}

.budgetContainer {

}

.budgetProgress {
    margin-top: 5px;
    padding: 2em;
}

h2 {
    font-weight: 100;
}

.budgetItem {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.budgetStatus {
    height: 7px;
    color:white;
    background-color: blue;
    max-width: 100%;
}
