@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; margin:0 }
body {
    margin: 0;
}

input, select {
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: .4em;
    outline: none;
}

button {
    float: right;
    font-size: 14px;
    color: white;
    background-color: green;
    border: 1px solid green;
    font-weight: 200;
    padding: .2em .6em;
}

.budgetTable {
    width: 100%;
    border: 1px solid #ccc;
}

.budgetTable th, td {
    padding: .4em;
    border: 1px solid #ccc;
}

h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 384x;
  letter-spacing: -1px;
  color: rgb(90, 90, 90);
}

.budget-category {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  color: rgb(90, 90, 90);
}

h2, .money {
  font-family: 'Kanit', sans-serif;
  color: rgb(90, 90, 90);
  font-weight: 200 !important;
  font-size:30px;
}

.money {
  font-weight: 200 !important;
  font-size: 20px;
}

a {
    color :green;
}
